// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "partials/variables";
@import "partials/header";
@import "partials/sidebar";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "partials/show/index";
@import "partials/forms/index";

// General styles

.site-primary-btn {
    font-size: 18px;
    color: $site-primary-col;
    background-color: $site-item-col;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: white;
        text-decoration: none;
        background-color: #c78f00;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    &:focus {
        outline: 3px solid #b88400;
    }
}
