header {
    nav {
        background-color: $site-primary-col;
    }
    .site-link {
        color: #126782;
        
        &:hover {
            color: $site-tertiary-col;
            background: #126782;
            text-decoration: none;
        }

        &.active {
            color: $site-tertiary-col;
            background: #126782;
        }
    }

    .site-text {
        font-size: 1rem;
        color: #126782;
    }

    .site-logo {
        padding-left: 1.2rem ;
        text-decoration: none;
    }

    // .site-toggle {
    //     font-size: 2rem;
    //     color: $site-item-col;
    // }

    .site-drpdown-menu {
        left: -45px;
        background: $site-tertiary-col;
    }
}
