
.site-aside {
    // width: 320px;
    background: $site-tertiary-col;


    .site-link {
        color: #126782;
        margin-top: 16px;
        font-weight: 700;
        text-transform: uppercase;
        
        &:hover {
            color: #126782;
            text-decoration: none;
        }
    }
}