// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// delive-colors
$site-primary-col: #023047;
$site-secondary-col: #219EBC;
$site-tertiary-col: #8ECAE6;
$site-item-col: #FFB703;
$site-card-bg: #E0F4FE;
$site-col-2: #FD9E02;
$site-col-3: #FB8500;

